

<% include partials/header %>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load("current", {packages:["corechart"]});
  google.charts.setOnLoadCallback(drawChart);
  function drawChart() {
  /*  var data = google.visualization.arrayToDataTable([       
      ['Length'],
      [12.2],
      [9.1],
      [12.2],
      [ 22.9]
  ]);*/
  var data = new google.visualization.DataTable();
  data.addColumn('number', 'Sentiment');
  var values = [<%-histogramArray%>];
  for(var i = 0; i < values.length; i++) {
      data.addRow([values[i]]);
  }

    var options = {
      title: 'Average Sentiment of Reviews',
      legend: { position: 'none' },
    };

    var chart = new google.visualization.Histogram(document.getElementById('chart_div'));
    chart.draw(data, options);
  }
</script>
<script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

        var data = new google.visualization.DataTable();
        data.addColumn("string", "Rating");
        data.addColumn('number', 'Occurrences');
        var values = [<%-pieChartArray%>];
        data.addRow(["1.0", values[0]]);
        data.addRow(["2.0", values[1]]);
        data.addRow(["3.0", values[2]]);
        data.addRow(["4.0", values[3]]);
        data.addRow(["5.0", values[4]]);

      var options = {
        title: 'Ratings by Percentage'
      };

      var chart = new google.visualization.PieChart(document.getElementById('piechart'));

      chart.draw(data, options);
    }
  </script>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    
    function drawChart() {
      var data = new google.visualization.DataTable();
      data.addColumn("number", "Date");
      data.addColumn("number", "Rating");
      var dayValues = [<%-days%>];
      var monthValues = [<%-months%>];
      var yearValues = [<%-years%>];
    
      var ratingValues = [<%-ratings%>];
    
      for(var i = 0; i < yearValues.length; i++) {
          var value = yearValues[i] + monthValues[i]/12 + dayValues[i]/365;
          data.addRow([value, ratingValues[i]]);
      }
      
      var options = {
        title: 'Rating vs Time comparison',
        hAxis: {title: 'Date (Years)'},
        vAxis: {title: 'Rating'},
        legend: 'none'
      };
    
      var chart = new google.visualization.ScatterChart(document.getElementById('scatterRatings'));
    
      chart.draw(data, options);
    }
</script>
<div id="container">
<h1 class="center" >Welcome to The Competitor Analytics of</h2>
<h2 class="center"><%=company.name%></h2>
<img class="center" src="imgs/img_logo.png">
</div>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
            <!-- Bootstrap CSS CDN -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <!-- Our Custom CSS -->
            <link rel="stylesheet" href="style.css">

<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar" class="">
        <div class="sidebar-header">
            <h3>Fulqrum</h3>
        </div>
        <ul class="list-unstyled components">
                <p> </p>
                <li>
                    <form method="POST" action="/soleCompetitor">
                        <input type="hidden" value="<%-competitorOption%>" name="competitorOption">
                        
                        <button style="background-color: #FFFFFF;" id="update" class="btn btn-primary btn-empty ml-md-3" value="Submit" type="submit">Back</button>
                    </form>
    
        </ul>

        


    </nav>

    <!-- Page Content Holder -->
    <div id="content">
        <p id="hey">//document.getElementById("hey2").removeAttribute("hidden");//document.getElementById("hey2").removeAttribute("hidden");</p>
      <!--  <div class="line"></div> -->

        <h3 id="Header">Analytics of <%-company.name%></h3>
        <div id="body">
            <div id="positiveReviews" class="col-md-6 pre-scrollable ">
                <table id="positiveTable" class="table well ">
                <thead>
                <tr>
                    <th>Positive Keywords</th>
                    <th>Frequency</th>
                    <th>Average Score</th>
                </tr>
                </thead>
                <tbody>
                    
                        <% for(var i = 0;pKeys != undefined && i < pKeys.length; i++) {%>
                            <tr>
                            
                            <td><%-pKeys[i].name%></td>
                            <td><%-pKeys[i].number%></td>
                            <td><%-pKeys[i].score.toFixed(4)%></td>
                        </tr>
                        <%}%>
                        

                    
                </tbody>
            </table>
            </div>
            <div id="negativeReviews" class="col-md-6 pre-scrollable inline">
                <table id="negativeTable" class="table well">
                    <thead>
                    <tr>
                        <th>Negative Keywords</th>
                        <th>Frequency</th>
                        <th>Average Score</th>
                    </tr>
                    </thead>
                    <tbody>
                            <% for(var i = 0;nKeys != undefined &&  i < nKeys.length; i++) {%>
                                <tr>
                                
                                <td><%-nKeys[i].name%></td>
                                <td><%-nKeys[i].number%></td>
                                <td><%-nKeys[i].score.toFixed(4)%></td>
                            </tr>
                            <%}%>

                    </tbody>
                </table>
            </div>
            <table id="positiveTable" class="table well ">
                    
                    <thead>
                            
                    <tr>
                        <th>Reviewer Highlights</th>
                        <th>Rating</th>
                        <th>Date</th>                                
                        <th>Reviews</th>
                        <th>Average Sentiment</th>
                        
                    </tr>
                    </thead>
                    <tbody>
                        
                            <% for(var i = 0;bestReviews!=undefined  && i < bestReviews.length; i++) {
                                if(parseFloat(bestReviews[i].rating) <=3 || parseFloat(bestReviews[i].sentimentAverage) <=0) {
                                    continue;
                                }
                                %>
                                <tr>
                                
                                <td><%-bestReviews[i].name_of_reviewer%></td>
                                <td><%-bestReviews[i].rating%></td>
                                <td><%-bestReviews[i].date_of_review%></td>                        
                                <td><%-bestReviews[i].review%></td>
                                <td><%-bestReviews[i].sentimentAverage%></td>
                                
                            </tr>
                            <%}%>
                            
        
                        
                    </tbody>
                </table>
                <table id="positiveTable" class="table well ">
                        
                        <thead>
                                
                        <tr>
                            <th>Worst Reviews</th>
                            <th>Rating</th>
                            <th>Date</th>                                
                            <th>Reviews</th>
                            <th>Average Sentiment</th>
                            
                        </tr>
                        </thead>
                        <tbody>
                            
                                <% for(var i = 0;worstReviews!=undefined  && i < worstReviews.length; i++) {
                                    if(parseFloat(worstReviews[i].rating) >=3 || parseFloat(worstReviews[i].sentimentAverage) >=0) {
                                        continue;
                                    }
                                    %>
                                    <tr>
                                    
                                    <td><%-worstReviews[i].name_of_reviewer%></td>
                                    <td><%-worstReviews[i].rating%></td>
                                    <td><%-worstReviews[i].date_of_review%></td>                        
                                    <td><%-worstReviews[i].review%></td>
                                    <td><%-worstReviews[i].sentimentAverage%></td>
                                    
                                </tr>
                                <%}%>
                                
            
                            
                        </tbody>
                    </table>
            <br><br>
            <br />
            <br />
            
            <h1>Mean Rating: <%=mean%></h1> 
            <h1>Mode Rating: <%=mode%></h1>     
            <br />
    
            <br />
            <div id="chart_div" style="width: 900px; height: 500px;"></div>
            <div id="piechart" style="width: 900px; height: 500px;"></div>
            <div id="scatterRatings" style="width: 900px; height: 500px;"></div>
            
    </div>
</div>



<!-- jQuery CDN -->
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<!-- Bootstrap Js CDN -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript">
    function analyticsChange() {
        var renderAnalytics = "  ";
        document.getElementById("Header").innerHTML = "Analytics";
        document.getElementById("body").innerHTML ="";

        // document.getElementById("hey2").setAttribute("hidden", true);
    }
    function comparitorsChange() {
        document.getElementById("Header").innerHTML = "Competitors";
        document.getElementById("body").innerHTML = " ";
        //document.getElementById("hey2").removeAttribute("hidden");
    }
    function displayPositive(inp) {
        //more interactive and better if user can see the newest one first
        for (var i = 0; i < inp.keyWords.length; i++) {
            var table = document.getElementById("positiveTable");
            var row = table.insertRow(1);
            var cell1 = row.insertCell(0);
            cell1.innerHTML = inp[i].name;
            var cell2 = row.insertCell(1);
            cell2.innerHTML = inp[i].score;
            var cell3 = row.insertCell(2);
            cell3.innerHTML = inp[i].number;

        }

    }

    function displayNegative(inp) {
        //more interactive and better if user can see the newest one first
        for (var i = 0; i < inp.keyWords.length; i++) {
            var table = document.getElementById("negativeTable");
            var row = table.insertRow(1);
            var cell1 = row.insertCell(0);
            cell1.innerHTML = inp.keyWords[i];
            var cell2 = row.insertCell(1);
            cell2.innerHTML = inp.frequency[i];
            var cell3 = row.insertCell(2);
            cell3.innerHTML = inp.avgScore[i];

        }

    }
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
    });
</script>


</body>
</html>